<<<<<<< HEAD

.red:hover {
	background:darkred;
}

.blue:hover{
	background:deepskyblue;
}


.puple:hover{
	background:hotpink;
}



=======
>>>>>>> 49cc16d4dadfc2ad9399a70c60aeb2ae12f8b976
span {
    background-color: yellow;
}


strong, em {
	color: rebeccapurple;
}


a:hover{
	color:red;
}


*{
	margin:100px;
<<<<<<< HEAD
}

ul{
	display: flex;
}

.box {
	width: 350px;
	height: 150px;
	margin: 25px;
	padding: 25px;
	border: 5px solid black;
  }

.fixed{
	position:fixed;
	position:absolute;
	right:0;
=======
>>>>>>> 49cc16d4dadfc2ad9399a70c60aeb2ae12f8b976
}