.flexContainer1{
  
  height: 300px;
  width: 500px;

  background-color: orange;

  display:flex;

  align-items:center;
}

.flexContainer2{
  
  height: 300px;
  width: 500px;
  margin:20px;
  background-color: orange;

  display:inline-flex;
  align-items: flex-start;
}

.flexContainer3{
  
  height: 300px;
  width: 500px;
  margin:20px;
  background-color: orange;

  display:inline-flex;
  align-items: flex-end;
}

.flexItem1{

  width:100px;
  margin:10px;
  background-color: blue;
  flex:1;
  height: 50px;

  flex-grow:5;

}


.flexItem2{

  width:100px;
  margin:10px;
  background-color: blue;
  flex:2;
  height: 100px;
}


.flexItem3{

  width:100px;
  margin:10px;
  background-color: blue;
  flex:1;
  height: 200px;
}


.inline-flex{
  border: 1px solid black;
}


.container_1 {
  background-color: #FEF1E6;


  display: grid;
  grid-template-columns: 100px auto 100px;
  grid-template-rows: 50px 50px;
  grid-gap: 3px;
}

.container_2 {
  background-color: #FEF1E6;
  

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: 50px 50px;
  grid-template-rows: repeat(2,50px);

  grid-template: repeat(2,50px) / repeat(3,1fr);

  grid-gap: 3px;
}

.container_3 {
  background-color: #FEF1E6;
 

  display: grid;
  grid-gap: 3px;

  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 40px 200px 40px;



}

.container_4{
  background-color: #FEF1E6;
  

  display: grid;
  grid-gap: 3px;

  grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
  grid-auto-rows: 100px;
}


.container_1 div, .container_2 div, .container_3 div, .container_4 div {
  margin: 5px;
  text-align: center;  
  color:cornsilk;
  font-size: 1.3em;
}

.wrapper .block_blue {
  background-color: #90AACB;
}


.wrapper .block_red {
  background-color: #FFB085;
}


.container_3 .header{
  grid-column: 2 / -1;
}

.container_3 .menu{
  grid-row: 1 / 3;
  background-color: brown;
}

.container_3 .content{
  grid-column: 2 / -1;
  background-color: #A09F57;
}

.container_3 .footer{
  grid-column-start: 1;
  grid-column-end: -1;
}

.container_4 {
  background-color: #FEF1E6;
  display: grid;
  margin-top : 30px;
  grid-gap: 3px;


}
